.index{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 50%, #E0C3FC 50%);
    .flx_bx{
        min-height: 100vh;
        
    }
}

.logo{
    width: 100px;
    height: 100px;
    background-color: black;
}